*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  
} 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  padding: 40px;
}

.mode-header {
  display: grid;
  place-content: center;
  text-align: center;
  gap: 10px;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}
.scores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.scores > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border-left: 1px solid #ccc
}

button {
  background-image: none;
  border: 2px solid #ccc;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: transparent;
  transition: .3s;
  cursor: pointer;
}

button:hover {
  border-color: coral;
}